<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Your Progress</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <p> <span class="x"> 0 </span> out of <span class="y"> 0 </span> images have been downloaded</p>
	      	<div class="bar progress large-12 alert round">
				<span class="meter custom" style="width:0%"></span> 
			</div>
      	</div>
      </div>
    </div>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script>
     //wrap getJSON in setInterval
	  	var interval = setInterval(function(){
	  		progressBar()
	  	}, 500);

	  	function progressBar (){
			$.getJSON('/status.json', function (data){
				var percentage = 100 * (data.downloads/data.total)
				$('.meter').animate({
				'width':percentage + '%' }, 200);

				if (percentage === 100){
					stopUpdate()
				}


				$('.x').text(data.downloads)
				$('.y').text(data.total)
	 		});
	  	};

 		function stopUpdate() {
 			clearInterval(interval);
 		};
    </script>
  </body>
</html>
